<%= form_with(model: @task, local:true) do |f| %>
  <% if @task.errors.any? %>
    <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <div>
    <%= f.label t('view.title') %><br>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label t('view.detail') %><br>
    <%= f.text_area :detail %>
  </div>
  <div>
    <%= f.label t('view.deadline') %><br>
    <%= f.date_field :deadline %>
  </div>
  <div>
    <%= f.label t('view.priority') %><br>
    <%= f.select :priority, I18n.t('priority_option') %>
  </div>
  <div>
    <%= f.label t('view.status') %><br>
    <%= f.select :status, I18n.t('status_option') %>
  </div>

  <div>
    <%= f.submit disable_with: '登録中...' %>
  </div>
<% end %>