<button type="button"><%= link_to "新しいToDoリストを作成する", new_task_path %></button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t('view.title') %></th>
        <th><%= t('view.detail') %></th>
        <th><%= t('view.deadline') %></th>
        <th><%= t('view.priority') %></th>
        <th><%= t('view.status') %></th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.title %></td>
          <td><%= task.detail %></td>
          <td><%= task.deadline %></td>
          <td><%= task.priority %></td>
          <td><%= task.status %></td>
          <td><button type="button"><%= link_to t('view.show'), task_path(task.id) %></button></td>
          <td><button type="button"><%= link_to t('view.edit'), edit_task_path(task.id) %></button></td>
          <td><button type="button"><%= link_to t('view.destroy'), task_path(task.id), method: :delete, data: { confirm: '本当に削除していいですか?' } %></button></td>
        </tr>
      <% end %>
    </tbody>
  </table>