<h1>タスク詳細</h1>
<div>
  <p>タスク名 : <br><%= @task.title %></p>
</div>
<div>
  <p>タスク内容 : <br><%= @task.detail %></p>
</div>
<div>
  <p>期限 : <br><%= @task.deadline %></p>
</div>
<div>
  <p>優先度 : <br><%= @task.priority %></p>
</div>
<div>
  <p>進捗状況 : <br><%= @task.status %></p>
</div>
<%= link_to '編集', edit_task_path%> | <%= link_to '戻る', tasks_path %>