<div class="contentBx">
  <div class="formBx">
    <h2>管理者用アカウント新規登録</h2>
    <%= form_with(model: [:admin,@user], local: true) do |f| %>
      <div class="inputBx">
        <span class="label"><%= f.label t('view.user_name') %></span>
        <%= f.text_field :name %>
      </div>
      <div class="inputBx">
        <span class="label"><%= f.label t('view.email') %></span>
        <%= f.email_field :email %>
      </div>
      <div class="inputBx">
        <span class="label"><%= f.label t('view.password') %></span></span>
        <%= f.password_field :password %>
      </div>
      <div class="inputBx">
        <span class="label"><%= f.label t('view.password_confirmation') %></span></span>
        <%= f.password_field :password_confirmation %>
      </div>
        <div class="checkbox-inline">
          <span class="label"><%= f.label t('view.admin') %></span>
          <%= f.check_box :admin %>
        </div><br>
      <div class="inputBx">
        <%= f.submit t('view.submit_new'), disable_with: '新規作成...' %>
      </div>        
    <% end %>
  </div>
</div>